<button class="btn btn-info" (click)="UserFormRedirect()">Add User</button>
<div class="card my-5">
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" sortable="id" (click)="sortColumn($event)">Id</th>
                    <th scope="col" sortable="name" (click)="sortColumn($event)">Name</th>
                    <th scope="col" sortable="firstname" (click)="sortColumn($event)">Firstname</th>
                    <th scope="col" sortable="email" (click)="sortColumn($event)">Email</th>
                    <th scope="col" sortable="usertype" (click)="sortColumn($event)">User Type</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of sortedusers">
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.firstname}}</td>
                    <td><a href="mailto:{{user.email}}"> {{user.email}}</a></td>
                    <td>{{user.usertype}}</td>
                    <td>
                        <ul class="list-inline">
                            <button class="list-inline-item btn btn-danger" (click)="deleteUser(user.id)">Delete User</button>
                            <button class="list-inline-item btn btn-success" (click)="updateUser(user.id)"> Update User</button>
                        </ul>
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
